@model List<Assessment.Core.Models.Supplier>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Supplier List</h1>
<br />
<table class="table table-dark table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Company Name</th>
        <th>Contact Name</th>
        <th>Contact Title</th>
        <th>Address Street</th>
        <th>Address City</th>
        <th>Address Region</th>
        <th>Address PostalCode</th>
        <th>Address Country</th>
        <th>Address Phone</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.CompanyName</td>
            <td>@x.ContactName</td>
            <td>@x.ContactTitle</td>
            <td>@x.Address.Street</td>
            <td>@x.Address.City</td>
            <td>@x.Address.Region</td>
            <td>@x.Address.PostalCode</td>
            <td>@x.Address.Country</td>
            <td>@x.Address.Phone</td>

        </tr>
    }
</table>