@model List<Assessment.Core.Models.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Order List</h1>
<br />
<table class="table table-dark table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>Customer Id</th>
        <th>Employee Id</th>
        <th>Order Date</th>
        <th>Required Date</th>
        <th>Shipped Date</th>
        <th>Ship Via</th>
        <th>Freight</th>
        <th>Ship Name</th>
        <th>Address Street</th>
        <th>Address City</th>
        <th>Address Region</th>
        <th>Address PostalCode</th>
        <th>Address Country</th>
        <th>Address Phone</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Id</td>
            <td>@x.CustomerId</td>
            <td>@x.EmployeeId</td>
            <td>@x.OrderDate</td>
            <td>@x.RequiredDate</td>
            <td>@x.ShippedDate</td>
            <td>@x.ShipVia</td>
            <td>@x.Freight</td>
            <td>@x.ShipName</td>
            <td>@x.ShipAddress.Street</td>
            <td>@x.ShipAddress.City</td>
            <td>@x.ShipAddress.Region</td>
            <td>@x.ShipAddress.PostalCode</td>
            <td>@x.ShipAddress.Country</td>
            <td>@x.ShipAddress.Phone</td>
        </tr>
    }
</table>